// ----------------------------------------------------------------------
// Layout Breakpoints
// ----------------------------------------------------------------------
$max-width: 1200px;

// ----------------------------------------------------------------------
// Font Sizes
// ----------------------------------------------------------------------
$font-size: 17px;

// ----------------------------------------------------------------------
// Colors
// ----------------------------------------------------------------------
$body-bkg: #fff;
$body-bkg2: #f4f7f9;
$base-color: #f47d20;
$link-color: #f47d20;
$color-black: #221f1f;
$color-white: #ffffff;
$color-blue: #1f619b;

// ----------------------------------------------------------------------
// Font Families
// ----------------------------------------------------------------------
$font-family: "Montserrat", sans-serif;
$font-heading: "Montserrat", sans-serif;

// ----------------------------------------------------------------------
// Grid
// ----------------------------------------------------------------------
$grid-columns: 12;

// ----------------------------------------------------------------------
// Variables
// ----------------------------------------------------------------------
$small-phone: 420px;
$phone: 520px;
$large-phone: 580px;
$small-tablet: 768px;
$tablet: 992px;
$small-desktop: 1024px;
$desktop: 1300px;
$large-desktop: 1440px;

// ----------------------------------------------------------------------
// Headings
// ----------------------------------------------------------------------

// ----------------------------------------------------------------------
// Variables for initial @mixin font-responsive [px]
// ----------------------------------------------------------------------
$font-size-small: 17;
$desktop-responsive: 1601; //1548
$phone-responsive: 580;